@{
    ViewData["Title"] = "Help Page";
}

<div class="container">
    <div class="breadcrumb">
        <span>Home > Help Page</span>
        <span class="text-center ms-2 px-2" style="color:green">@ViewBag.Message</span>
    </div>
</div>
